<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/jorda/OneDrive - Florida Gulf Coast University/Projects/intellij/WhatsApp-Testing">
        <classes>
<!--            <class name = "StatusTest">-->
<!--                <methods>-->
<!--                    <include name="testTextStatus"></include>-->
<!--                    <include name="testImageStatus"></include>-->
<!--                    <include name="testViewStatus"></include>-->
<!--                    <include name="testDeleteStatus"></include>-->
<!--                    <include name="testChangePrivacy"></include>-->
<!--                </methods>-->
<!--            </class>-->
            <class name = "NotificationTest">
                <methods>
                    <include name="testMuteNotifications"></include>
                    <include name="testNotificationReceivedWhenMuted"></include>
                    <include name="testUnmuteNotifications"></include>
                    <include name="testNotificationReceivedWhenUnmuted"></include>
                    <include name="testDifferentChatNotifications"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>